* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: gray;
}
.container {
    max-width: 900px;
    margin: 0 auto;

}
.apply_box {
    max-width: 600px;
    padding: 20px;
    background-color: rgb(75, 67, 67);
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 10px 8px 9px rgba(3, 3, 3, 0.3);
    border-radius: 30px;
}

.title_small {
    font-size: 25px;
}
.form_container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
    gap: 30px;
    
}
input {
    width: 100%;
}

button{
    background-color : orangered;
    color: white;
    padding: 2%;
    margin-left: 80% ;
    margin-top: 20% ;
}
input, select, textarea {
    padding: 10px 15px;
    border: 2px groove black;
}
input:focus {
    outline-color: greenyellow;
}
textarea:focus {
    outline-color: greenyellow;
}